# Dependencies
node_modules/

# Python virtual environments
venv/
sadmc-venv/
__pycache__/
*.pyc

# Env / secrets
.env
.env.*
!.env.example

# Build output
dist/
.angular/cache/
build/

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
